name: markdownlint
permissions:
  contents: read
  pull-requests: write
on:
  push:
    paths:
      - '**/*.md'
      - '.markdownlint.json'
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v20
      with:
        config: .markdownlint.json
        globs: |
          *.md
          **/*.md
