name: markdownlint
permissions:
  contents: read
  pull-requests: write
on:
  push:
    paths:
      - '**/*.md'
      - '.markdownlint.json'
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v20
      with:
        config: .markdownlint.json
        globs: |
          *.md
          **/*.md
