name: markdownlint
on:
  push:
    paths:
      - '**/*.md'
      - '.markdownlint.json'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DavidAnson/markdownlint-cli2-action@v16
      with:
        globs: |
          *.md
