name: mypy
on:
  push:
    paths:
      - '**/*.py'
      - 'mypy.ini'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Installing package
        run:
          pip install --require-hashes --no-deps -r requirements.txt
      - name: Install workflow dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install mypy
      - name: Register matcher
        run: echo ::add-matcher::./.github/python_matcher.json
      - name: Running mypy
        run: |
          mypy --check-untyped-defs --no-color-output --install-types --non-interactive --ignore-missing-imports scaaml
