name: mypy
on:
  push:
    paths:
      - '**/*.py'
      - 'mypy.ini'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install workflow dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install mypy
      - name: Installing package
        run:
          # During the split the packages are co-dependent. The script setup.py
          # of scaaml also installs all packages. However the same does not
          # hold the other way around (the packages are supposed to be
          # standalone in the future).
          pip install -r requirements.txt
      - name: Register matcher
        run: echo ::add-matcher::./.github/python_matcher.json
      - name: Running mypy
        run: |
          mypy --no-color-output --install-types --non-interactive --ignore-missing-imports scaaml
