name: mypy
permissions:
  contents: read
  pull-requests: write
on:
  push:
    paths:
      - '**/*.py'
      - 'mypy.ini'
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
jobs:
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Installing package
        run: |
          pip install --require-hashes --no-deps -r requirements.txt
          pip install --editable ".[capture,dev,extra]"
      - name: Register matcher
        run: echo ::add-matcher::./.github/python_matcher.json
      - name: Running mypy
        run: |
          mkdir -p .mypy_cache
          mypy --no-color-output --install-types --non-interactive --verbose scaaml
