name: pylint
on:
  push:
    paths:
      - '**/*.py'
      - '.pylintrc'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  pylint:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install pylint
      - name: Register matcher
        run: echo ::add-matcher::./.github/python_matcher.json
      - name: Test code with pylint
        run: ./tools/run_pylint.sh

